/* ------ FEED STYLES -------- */
body {
	font-family: 'Open Sans', sans-serif;
}
button {
	cursor:pointer;
}
header {
	display:block;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:5%;
	background-color:#E4E2D9;
	opacity:.9;
	margin:0;
	z-index:0;
	text-align:center;
}
	#mini-logo{
		position:absolute;
		top:1%;
		left:1%;
		height:3%;
		margin:0;
		padding:0;
		z-index:1;
	}
	#feed_header_nav {
		position:absolute;
		display:block;
		text-align:center;
		height:5%;
		width:40%;
		margin-left:30%;
		margin-right:30%;
		text-align:center;
	}
		#feed_header_nav h1 {
			display: inline;
			font-size:3.5em;
			line-height:100%;
			color:#80277E;
			margin:0;
			padding:0;
			margin-left:5%;
			margin-right:5%;
		}
		#feed_header_nav #prev_view {
			float:left;
			padding-top:3%;
			height:50%;
		}
		#feed_header_nav #next_view {
			float:right;
			padding-top:3%;
			height:50%;
		}

#current-feedbat {
	display:block;
	position:fixed;
	top:0px;
	left:0px;

	width:100%;
	margin:auto;
	z-index:-1;
	vertical-align:middle;
}

footer {
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	height:10%;
}
	.feed-control-button {
		width:50%;
		height:100%;
		opacity:.9;
		padding:0px;
		float:left;
		border:none;
	}
		#comment-button {
			background-color:#B869AA;
		}
			#comment-button img {
				height: 70%;
			}
		#tip-button {
			background-color:#81277F;
		}
			#tip-button img {
				height: 70%;
			}

.hide-sub-view {
	display:none;
}