#mybat {
	position:fixed;
	top:0;
	left:0;
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	background-color:#E4E2D9;
}

#upload_image {
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
}

#add-new-feedbat {
	position: relative;
}

	#mybat #my-current-feedbat {
		display:block;
		position:fixed;
		top:0px;
		left:0px;
		width:100%;
		margin:auto;
		z-index:-1;
		vertical-align:middle;
	}

	#mybat footer {
		width:100%;
		position:fixed;
		height:20%;
		opacity:.9;
		bottom:0;
		left:0;
		text-align:center;
	}
		#my-currrent-feedbat-stats {
			position:absolute;
			top:0;
			left:0;
			background-color:#CC64CA;
			width:100%;
			height:50%;
		}
			#my-currrent-feedbat-stats h3 {
				position:relative;
				bottom:36%;
				font-size:5em;
				color:#850082;
			}
		#add-new-feedbat {
			position:absolute;
			bottom:0;
			left:0;
			background-color:#FFC900;
			width:100%;
			height:50%;
		}
			#add-new-feedbat h3 {
				position:relative;
				bottom:36%;
				font-size:5em;
				color:#9F7D03;
			}